<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="mfmFFS.APPSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="mfmFFS.Properties.Settings.AlMabrookaConnectionString"
        connectionString="Data Source=BILAL;Initial Catalog=AlMabrooka;User ID=sa;Password=super"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup>
 
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
  <userSettings>
        <mfmFFS.APPSetting>
            <setting name="cfgSQLServer" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgSQLUser" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgSQLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgAPPDB" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgSBODB" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgSapID" serializeAs="String">
                <value />
            </setting>
            <setting name="cfgSapPw" serializeAs="String">
                <value />
            </setting>
        </mfmFFS.APPSetting>
    
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral"/>

        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral"/>

        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral"/>

        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Windows.Forms" publicKeyToken="692fbea5521e1304" culture="neutral"/>

        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692fbea5521e1304" culture="neutral"/>

        <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0"/>
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
</configuration>
